{% extends "base.html" %}


{% block content %}

	{% if student %}


		{% for student_name in student %}
			<h1>Hello, {{student_name}} !</h1>
			<h4> Please enter your time below </h4>
            <h5> (* = Required) </h5>
    	{%endfor%}
<form action="/submittime/" method="get" >
<div class="row-fluid">

        <div class="span2"> Date * : <input type="text" id="datepicker_start" name="startdate" required="true"/> </div>
        <div class="span2 offset1"> Start time * : <input type="text" class="timepicker-default input-small" id="timepicker_start" name="starttime" /> </div>
</div>

<div class="row-fluid">
        <div class="span2 offset1">End time * : <input type="text" class="timepicker-default input-small" id="timepicker_end" name="endtime" /> </div>

</div>

<div class="row-fluid"> 
    
    <div class="span2">    

        Deliverables: <input type="text" name="deliverables" data-provide="typeahead" data-mode="multiple" id="deliverables" data-source='[
        {% for deliverable in deliverables %}
        "{{deliverable}}"
        {%if forloop.last%}
        {%else%}
        ,
        {%endif%}
        {%endfor%}
        ]'> 
        <div class="hide">
            <input type="text" name="student_id"  value={{student_id}}>
        </div>
    </div>

</div>

<div>
    <br/>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>
</div>

<br/>
<br/>

<!-- Table for time entered- Refer to report.html -->
<table class="table table-hover">

<tr>
	<th>Date</th><th>Hours</th><th>Time</th><th>Deliverables</th>		<!-- Headings in Table -->
</tr>
<!--for shift in shifts %}			 for loop from views.py under entertime -->
<tbody>
	{% for shift in ltweeks %}
			<tr>
				<td></td>
				<td>{{shift.total_time}}</td>
				<td></td>
				<td>{{shift.deliverables}}</td>
			</tr>
	{% endfor %}
</tbody>
		
</table>

<!-- URL for report page-->

<a href="/report/">View All</a>

<!-- Individual reporting interface. Commented out, determined that it was not needed. 
<h3> Or ...</h3><h4> pick a date range to generate a report </h4>
<br/>
<form>
<div class="row-fluid">
        <div class="span3"> Start date: <input type="text" id="report_datepicker_start" /> </div>
        <div class="span3"> End date: <input type="text" id="report_datepicker_end" /> </div>
</div>
<div>
    <br/>
    <input class="btn btn-primary" type="submit" value="Generate Report">
</div>
</form>
-->

{% else %}
	<p> No students are available </p>
{%endif %}

{% endblock content %}

{% block scripts %}

<script>

    function reporturl()
    {
        var startdate = document.getElementById('report_datepicker_start').value;
        var enddate = document.getElementById('report_datepicker_end').value;
        var url = 'http://127.0.0.1:8000/report/start/' + startdate + "/end/" + enddate;
        window.open(url);
    }

    function submiturl()
    {
        var startdate = document.getElementById('datepicker_start').value;
        var starttime = document.getElementById('timepicker_start').value;

        var enddate = document.getElementById('datepicker_end').value;
        var endtime = document.getElementById('timepicker_end').value;

        var url = 'http://127.0.0.1:8000/submit/startdate/' + startdate + '/starttime/' + starttime + '/enddate/' + enddate + '/endtime/' + endtime;

        window.open(url);
        


    }

    $(function() {
        $( "#datepicker_start" ).datepicker();
 				});

    $(function() {
    	$('#timepicker_start').timepicker();
    });

    $(function() {
        $( "#datepicker_end" ).datepicker();
                });

    $(function() {
    	$('#timepicker_end').timepicker();
    });

    $(function() {
        $( "#report_datepicker_start" ).datepicker();
                });

    $(function() {
        $( "#report_datepicker_end" ).datepicker();
                });

</script>
	{% endblock scripts %}