{% extends "base.html" %}
{% block content %}
<p>PM Dashboard</p>
	{% if project_list %}
	<table class="table table-hover">
  <thead><tr><th>Student Name</th><th>Semester Average*</th><th>Last Week*</th></tr></thead>
	<tbody>
		{% for project in project_list %}
			<tr>
				<td>{{project.project_name}}</td>
				<td>{{project.avghrs.total_time__sum}}</td>
				<td>{{project.lstwkhrs}}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
	<p>* indicates a field is not yet operational</p>
{% else %}
	<p> No students are available </p>
{% endif %}
<a href="/clearsemester/pm_report_select">Click here to choose a different semester</a>
{% endblock content %}