{% extends "base.html" %}
{% block content %}
<h2>PMO Dashboard</h2>
	{% if project_list %}
	<table class="table table-hover">
  <thead><tr><th>Project Name</th><th>Semester Average</th><th>Last Week</th></tr></thead>
	<tbody>
		{% for project in project_list %}
			<tr>
				<td><a href="/pm_report/{{project.id}}">{{project.name}}</a></td>
				<td>{{project.avghrs.total_time__sum}}</td>
				<td>{{project.lstwkhrs.total_time__sum}}</td>
			</tr>
		{% endfor %}
	</tbody>
	</table>
{% else %}
	<p> No projects are available </p>
{% endif %}
<a href="/clearsemester/pmo_report_select">Click here to choose a different semester</a>
{% endblock content %}