{% extends "base.html" %}


{% block content %}


	{% if project_list %}
	<p> You are currently viewing semester: {{semester_name}} </p>
	<form>
	<select name="URL" onchange="window.location.href=this.form.URL.options[this.form.URL.selectedIndex].value">
			<option>Select a project</option>
		{% for project in project_list %}
			<option value="/project/{{project.id}}"> {{project}} </option>
		{% endfor %}
	</select>
	</form>

{% else %}
	<p> No Projects are available </p>
{% endif %}

<a href="/clearsemester/">Click here to choose a different semester</a>

{% endblock content %}